<div class ="row">
  <div class="col-lg-12 header">
    <h1 style="display: inline">Goals - Elliptical</h1>
    <button mat-stroked-button (click)="goBack()"> Back </button>
  </div>
</div>

<div class ="row">
  <div class="col-lg-12 header">
    <h2>Monthly</h2>
  </div>
</div>

<div class ="row">
  <div class="col-lg-12">
    <h3>Strides</h3>
  </div>
</div>
<div class ="row">
  <div class="col-lg-12">
    <h4>{{ getMonthStrides() | number: '1.0-2' }} of {{ stridesGoal | number: '1.0-2' }}</h4>
    <mat-progress-bar mode="determinate" [(value)]="stridesProgress"></mat-progress-bar>
  </div>
</div>

<div class ="row">
  <div class="col-lg-12">
    <h3>Minutes</h3>
  </div>
</div>
<div class ="row">
  <div class="col-lg-12">
    <h4>{{ getMonthMins() | number: '1.0-2' }} of {{ minsGoal | number: '1.0-2' }}</h4>
    <mat-progress-bar mode="determinate" [(value)]="minsProgress"></mat-progress-bar>
  </div>
</div>