<div class ="row">
  <div class="col-lg-12 header">
    <h1 style="display: inline">Rower</h1>
    <button mat-stroked-button routerLink="/tracking"> Back </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 header">
    <button mat-stroked-button class="btn btn-primary" routerLink="add"> Add Entry </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table matSort style="width:100%;">
      <tr>
        <th mat-header-cell> Min </th>
      <th mat-header-cell> Str </th>
      <th mat-header-cell> Date </th>
      <th mat-header-cell> Pace </th>
      <th mat-header-cell></th>
      </tr>
    
      <tr *ngFor="let r of rower | slice: 0:15">
        <td mat-cell> {{r.minutes}} </td>
        <td mat-cell> {{r.strokes}} </td>
        <td mat-cell> {{formatDate(r.date)}} </td>
        <td mat-cell> {{r.strokes / r.minutes | number: '1.2-2' }} </td>
        <td mat-cell> <button mat-stroked-button class="btn btn-danger" (click)="deleteEntry(r)"> Delete </button></td>
      </tr>
    </table>
  </div>
</div>