<div class ="row">
  <div class="col-lg-12 header">
    <h1 style="display: inline">Delete Entry - Bike</h1>
    <button mat-stroked-button (click)="goBack()"> Back </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Are you sure you want to delete this entry?</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table matSort style="width:100%;">
      <tr>
        <th mat-header-cell> Minutes </th>
        <th mat-header-cell> Miles </th>
        <th mat-header-cell> Date </th>
      </tr>  
      <tr>
        <td mat-cell> {{bikeToDelete.minutes}} </td>
        <td mat-cell> {{bikeToDelete.miles}} </td>
        <td mat-cell> {{bikeToDelete.date}} </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" style="padding-bottom: 5px">
    <button mat-stroked-button class="btn btn-danger" (click)="delete()"> Delete </button>
  </div>
  <div class="col-sm-6" style="padding-bottom: 5px">
    <button mat-stroked-button class="btn btn-light" routerLink="/tracking/bike"> Cancel </button>
  </div>
</div>