<div class ="row">
  <div class="col-lg-12 header">
    <h1 style="display: inline">Elliptical</h1>
    <button mat-stroked-button (click)="goBack()"> Back </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <button mat-stroked-button class="btn btn-primary" routerLink="add"> Add Entry </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table matSort style="width:100%;">
      <tr>
        <th mat-header-cell> Min </th>
        <th mat-header-cell> Stri </th>
        <th mat-header-cell> Date </th>
        <th mat-header-cell> Pace </th>
        <th mat-header-cell></th>
      </tr>
    
      <tr *ngFor="let e of elliptical | slice: 0:20">
        <td mat-cell> {{e.minutes}} </td>
        <td mat-cell> {{e.strides}} </td>
        <td mat-cell> {{formatDate(e.date)}} </td>
        <td mat-cell> {{e.strides / e.minutes | number: '1.2-2' }} </td>
        <td mat-cell> <button mat-stroked-button class="btn btn-danger" (click)="deleteEntry(e)"> Delete </button></td>
      </tr>
    </table>
  </div>
</div>